<ion-view view-title="학습">
  <ion-content class="has-footer">
    <div id='profile-level' class="row" style="text-align:center;margin-top:30%;padding:10%;font-size:20px">
      <div class="col text-center">
        <button ng-click="grammar()" style="width:150px;height:150px;font-size:25px">문법</button>
        <button ng-click="topic()" style="width:150px;height:150px;;font-size:25px">토픽</button>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar id="admin-bar" align-title="center">
    <a id="joiner-btn" class="button icon icon-right ion-chevron-right" href="#/tab/joiner">금일 참석자</a>
    <a id="pronunciation-btn" class="button icon icon-right ion-chevron-right" href="#/tab/joiner">발음 업로드</a>
  </ion-footer-bar>
</ion-view>